body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#text{
    z-index: 2;
    position: fixed;
    bottom: 5px;
}

canvas{
    border-radius: 10px;
    border: 2px solid black;
}